@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Dashboard</PageTitle>

<div class="dashboard-header">

    <div>
        <h1>Dashboard</h1>

        <p>
            Welcome back, Shivam. Here's what's happening today.
        </p>
    </div>

    <button class="new-meeting-button" onclick="@(() => NavigationManager.NavigateTo("/meeting-booking"))" >
        + New Meeting
    </button>

</div>