@page "/my-meetings"
@using MeetingsBooking.Shared.Dtos
@using MeetingsBooking.UI.Components

@inject IBookMeetings BookMeetings
@inject NavigationManager Navigation
<div>
    <div class="dashboard-header">

        <div>

            <h1>My Meetings</h1>
            <p>
                Manage all your scheduled meetings.
            </p>

        </div>
    </div>
   @if (IsLoading)
   {
       <p>Loading meetings...</p>
   }
   else
   {
       <br />
       <MeetingCard Meetings="Meetings" />
   }
</div>
@code{

    private bool IsLoading = true;

    private List<MeetingResponseDto> Meetings = [];

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        Meetings = (await BookMeetings.GetAllMeetingsAsync()).ToList();

        IsLoading = false;
    }
}
